{:deps   {:aliases [:dev]}
 :nrepl  {:port 59425}
 :builds {:workspaces {:target     :browser
                       :output-dir "workspaces/assets/js"
                       :asset-path "/js"
                       :devtools   {:preloads  [devtools.preload fulcro.inspect.preload]
                                    :http-root "workspaces/assets"
                                    :http-port 8087}
                       :modules    {:main {:entries [demo.cards.workspaces-main]}}}}}
